@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(191, 100%, 11%);
  --foreground: #002D37;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #002D37;
    --foreground: #002D37;
  }
}

body {
  color: var(--background);
  background: #002D37;
  font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
}
